.profile__description {
    font-size: 18px;
    line-height: 22px;
    font-weight: normal;
    margin-top: 16px;
    margin-bottom: 25px;
}

@media screen and (max-width: 567px) {
    .profile__description {
        margin-top: 8px;
        margin-bottom: 36px;
    }
}