@import url(./__link/header__link.css);
@import url(./__auth-button/header__auth-button.css);

.header {
    margin: 0 auto 40px auto;
    max-width: 882px;
    border-bottom: 1px solid #545454;
    padding-bottom: 40px;
    padding-top: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 882px) {
    .header {
        width: 100%;
        padding-bottom: 31px;
        padding-top: 28px;
    }
}